

<header class="conteiner fluid bg-dark p-4 text-white bg1">
    <div class="container fluid">
            <div class="row">
                <div class="col">
                    <div class="logo">
                    <h1 class="text-uppercase">
                        <a href="../">TENURE F.C</a>
                    </h1>
                    </div>
                </div>
                <div class="col">
                        {{> navbar}}
                </div>
            </div>
    </div> 
</header>