

<div>

    <div class="text-center m-5 container">
    <hr>
    <h1>{{titulo}}</h1>
    <hr>
    </div>

    <div class="text-center container">
<p>
    <h3>
    Tenure F.C es un club creado con el fin de competir en las ligas mas altas de FUT (Fifa Ultimate Team)
    </h3>
</p>
</div>

    <div class="text-center container">
        <p>
            Somos un equipo de players que trabaja en conjunto para llegar a las divisiones mas altas de FIFA ULTMATE TEAM y cada fin de semana competir en el modo mas competitivo "fut champions".
        </p>

        <p>
        <section>Nuestro objetivo es llegar a construir un centro gamer donde los players tengan asistencia y control sobre sus horas de juego, mayor entrenamiento y rendimiento a la hora de las competiciones.</section>
        </p>
            <section>Aspiramos a formar una familia de trabajo apasionada por los videojuegos, no solo con nuestros jugadores y creadores de contenidos, sino con todo el staff y la comunidad que construiremos.
                    Acompañando el crecimiento de nuestros jugadores, entrenadores, analistas, managers y streamers con herramientas para que puedan desarrollarse y mostrarle al mundo entero su potencial.
            </section>

<hr>
            <div>
            <p>
                <h6> "Queremos que todos los que se sumen a TENURE F.C amen lo que hacen, que se sientan cómodos. Impulsarlos y ayudarlos a cumplir sus sueños. Lo que hacemos nos da la oportunidad de hacer feliz a muchas personas y me gusta muchísimo todo esto. Queremos que más gente en el mundo lo conozca y lo disfrute como nosotros."</h6>
                    <h4>Muchas Gracias!!. TENURE F.C</h4>
            </p>
            </div>
<hr>
    </div>


<img src="http://a.espncdn.com/photo/2017/0504/r206710_2_1600x800cc.jpg" class="rounded mx-auto d-block" alt="Team">
