



<div>

    <div class="text-center container m-5">
    <hr>
    <h1>{{titulo}}</h1>
    <hr>
    </div>

<div class="container">
<img src="https://media.tycsports.com/files/2021/09/23/335805/fifa-22-consejos-para-fut_1440x810_wmk.jpg" class="img-fluid" alt="Fifa">
</div>

<div class="container">
        <nav class="nav-header bg-Light">
            <li>
                <a href="#¿Que es Fifa Ultimate team?" class="nav-enlace">¿Que es Fifa Ultimate team?</a>
            </li>
            <li>
                <a href="#Modos de juego de FUT" class="nav-enlace">Modos de juego de FUT</a>
            </li>
            <li>
                <a href="#¿Como puedo crear mi equipo en FUT?" class="nav-enlace">¿Como puedo crear mi equipo en FUT?</a>
            </li>
            <li>
                <a href="#Monedas y FIFA Points" class="nav-enlace">Monedas y FIFA Points</a>
            </li>
        </nav>
    </div>

    <div class="container">
        
    <p>
        
        <section class="¿Que es Fifa Ultimate team?" id="¿Que es Fifa Ultimate team?"></section>
            <h2>¿Que es Fifa Ultimate team?</h2>
            FIFA Ultimate Team (de ahora en adelante FUT) es un modo incluido en FIFA15 con el que podrás crear el equipo de tus sueños sin ningún tipo de limitación salvo la habilidad que tengas para ganar monedas.
            Al arrancar el modo tendremos una plantilla formada por jugadores de bronce, de lo que se trata es de irla mejorando consiguiendo mejores jugadores para conformar una plantilla de garantías. <a href="https://www.todoultimateteam.com/que-es-ultimate-team-2/" target="_blanck">Ver Mas...</a>
    </p>

    <p>
        <section class="Modos de juego de FUT" id="Modos de juego de FUT"></section>
            <h2>Modos de juego de FUT</h2>
            Dentro del propio Ultimate Team encontrarás los siguientes modos de juego para disputar partidos, crear plantillas, ganar recompensas como sobres y monedas y mucho más:

<li>Squad Battles: juega hasta 40 partidos offline contra otras plantillas de jugadores de todo el mundo y deja tu huella semanalmente en cada competición.</li> 
<li>Division Rivals: una competición semanal para todos los niveles de habilidad en la que puedes escoger tus recompensas finales.</li>
<li>FUT Champions: consigue puntos de FUT Champions en Division Rivals y accede a este modo con jornadas y las mejores recompensas. Es uno de los modos más populares de FUT. <a href="https://vandal.elespanol.com/guias/guia-fifa-22-trucos-consejos-y-secretos/fifa-ultimate-team#como-funciona-fifa-22-ultimate-team-consejos-basicos" target="_blanck">Ver Mas...</a></li>
    </p>

   <a href="https://www.ea.com/es-mx/games/fifa/ultimate-team/fut-app" target="_blanck"> <img src="https://media.contentapi.ea.com/content/dam/ea/fifa-mobile/season-2021/common/fifa-mobile-22-keyart-featured-16x9.jpg.adapt.crop16x9.1023w.jpg" class="rounded mx-auto d-block" alt="Web App."></a>
    <p
        <section class="¿Como puedo crear mi equipo en FUT?" id="¿Como puedo crear mi equipo en FUT?"></section>
            <h2>¿Como puedo crear mi equipo en FUT?</h2>
            Ten esto en cuenta a la hora de configurar a tu equipo para el éxito:
<li>Elige un país: Elige un país para determinar la composición de tu
plantilla inicial.</li> 
<li>Elige a tu jugador cedido: Puedes elegir a una estrella para que se
una a tu plantilla durante un número limitado de partidos.</li>
<li>Selecciona las equipaciones y un escudo de equipo: Equipa a tus
11 jugadores titulares con estilo para destacar entre la competición.</li>
<li>Decide tu formación: Tú decides si juegas con el clásico 4-2-2 o si
quieres potenciar a tus extremos con un 4-3-2-1. Las posibilidades
son infinitas.</li>
<li>Piensa en los jugadores que tienes disponibles y en
cómo explotar sus puntos fuertes. Si no lo tienes claro, prueba
formaciones diferentes para ver cómo te manejas con ellas</li>
    </p>
    <p>
        
        <section class="Monedas y FIFA Points" id="Monedas y FIFA Points"></section>
            <h2>Monedas y FIFA Points</h2>
            En FUT hay dos tipos de divisas que entran en juego.

<li>Monedas: las monedas de FUT se usan para comprar sobres, artículos como consumibles o para entrar a FUT Draft. Podrás conseguir monedas jugando partidos, completando objetivos diversos o vendiendo a tus jugadores, por ejemplo.</li>
<li>FIFA Points: esta es la moneda de pago real de FIFA, tan solo se puede adquirir pagando dinero por ella y te servirá para comprar sobres sin gastar monedas.</li>

    </p>
    </div>